.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.list li:hover {
  background: #f0f4ff;
}
